# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# misc
.DS_Store
stats.*
.env
npm-debug.log
.idea
backend/node_modules
backend/.env
backend/yarn-error.log

front/node_modules
front/build
front/.DS_Store
front/.env.local
front/.env.development.local
front/.env.test.local
front/.env.production.local


*.sw*
yarn-error.log
